@charset "utf-8";
* {
	margin: 0;
	Padding:0;
}
@font-face {
	font-family: myfont;
	src: url(Roboto-Medium.ttf);
	font-weight: 500;
}
header {
	width: 100%;
	height: 650px;
	background-color:#D8F4FF;
}

header nav ul {
	font-family: myfont;
	margin-left: 1110px;
	padding: 10px 0px 0px 0px;
}
header nav ul li {
	display: block;
	text-align: center;
	color: black;
	padding-left: 20px;
}
header div{
	margin-top: 12%;
}
header div h1 {
	color: #003988;
	font-style: italic;
	font-size: 55px;
}
header div ul {
	margin-top: 20px;
}
header div ul li{
	display: inline;
	line-height: 20px;
	margin: 15px;
}
header div ul li a {
	color: #003988;
}
.arrow{
	padding-top: 20px;
	font-size: 250%;
	color: #003988;
	display:inline-block;
	transition:all 0.3s ease;
}
.bounce{
	border-radius:50px;
	animation:bounce 2s infinite;
}
@keyframes bounce {
	0%{transform:translateY(0);}
	50%{transform:translateY(-20px);}
	100%{transform:translateY(0);}
}

/*Intro*/
#about div {
/*	background-color: red;*/
}
#about {
	padding-top: 2%;
	padding-bottom: 2%;
}
.color {
	background-color: #6B8FFF;
	width: 100%;
	height: 350px;
}

/*skills*/
#skills {
	background-color:#EFEFEF;
	padding-bottom: 2%;
	padding-top: 2%;
}
.skills .row {
	margin: 0;
	padding: 0;
}
#skills .container-fluid {
	padding-left: 15%;
	padding-right: 15%;
}
#skills .col-sm-6 h4 {
	margin-top: 10px;
	font-size: 18px;
	color: #989898;
}
#skills .col-sm-6 p {
	font-size: 15px;
	font-style: italic;
}
#skills .col-sm-6 i {
	font-size: 45px;
	color: #5A5A5A;
}

/*collection*/
#collection {
	padding-top: 5%;
	padding-bottom: 5%
}
#collection ul li a{
	color: #636363;
}
#collection ul li:hover a{
	color: black;
	font-weight: 400;
	list-style-type: none;
}
#collection .square div{
	background-color: black;
	width: 200px;
	height: 200px;
}
#collection .square {
	padding-left: 6%;
}
#collection .margin {
	margin-left: 20%;
	margin-right: 20%;
}

/*contact*/
.info {
	margin-top: 3%;
	margin-left: 30%;
	margin-right: 25%;
}
.info form .btn {
	margin-top: 20px;
	display: block;
	text-align: center;
}
.info form #urname {
	display: block !important;
	width: 90%;
	border-color: #C9C9C9;
	border-top: none;
	border-left: none;
	border-right: none;
}
.info form #uremail {
	display: block !important;
	border-color: #C9C9C9;
	width: 90%;
	border-top: none;
	border-left: none;
	border-right: none;
}
.info form #urmessage {
	display: block !important;
	border-color: #C9C9C9;
	width: 95%;
	border-top: none;
	border-left: none;
	border-right: none;
}
.info form #corner {
	margin-left: 33%;
	margin-top: 8%;
	border-radius: 50px;
}
#contact {
	margin-bottom: 5%;
}

/*footer*/
footer {
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: black;
}
footer div ul li a i {
	color: #B1B1B1;
}