@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: myfont;
	src: url(Roboto-Medium.ttf);
	font-weight: 500;
}

/*Scroller spy*/
#spyMenu {
	position: fixed;
	top: 0px;
	transition: top 0.3s;
}
.navbar .navbar-nav a {
	display: block;
	text-decoration: none;
	text-align: center;
}
#spyMenu .navbar-nav a:hover {
	background-color: #1A5600;
	color: aliceblue !important;
	border-radius: 10px;
}
.navbar .nav-pills .nav-link .active, 
.nav-pills .show>.nav-link {
	display: none;
	color: white !important;
	bacground-color: red !important;
}

/*Header*/
header {
	marign: 0;
	padding: 0;
	background-image: url("Img Src/1.jpg");
	background-color: #ABABAB;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}
header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	width: 100%;
	height: 100vh;
	opacity: 0.4;
}
#imChris {
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
header h1 {
	font-family: myfont;
	font-size: 50px;
	color: white;
}
header ul li a {
	font-size: 20px;
	color: white;
	padding-left: 10px;
}
.arrow{
	padding-top: 20px;
	font-size: 250%;
	color: white;
	display:inline-block;
	transition:all 0.3s ease;
}
.arrow:hover {
	color: white;
	transform: scale(350%);
}
.bounce{
/*	border-radius:50px;*/
	animation:bounce 2s infinite;
}
@keyframes bounce {
	0%{transform:translateY(0);}
	50%{transform:translateY(-20px);}
	100%{transform:translateY(0);}
}

/*About Me*/
#aboutme {
	padding: 3% 15%;
}
#aboutme .container-fluid img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
/*Myskills*/
.myskills {
	padding: 0% 1% 3% 1%;
}
.myskills .col-one .container-fluid {
	width: 100%;
	margin-bottom: 5px;
	line-height: 16px;
/*	background-color: antiquewhite !important;*/
}
.myskills .col-one .container-fluid .skills {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: right;
	color: #C2FFA7;
	margin-top: -6px;
	font-size: 15px;
}
.myskills .col-one .container-fluid .PS {
	width: 90%;
	background-color:#1A5600;
}
.myskills .col-one .container-fluid .AI {
	width: 80%;
	background-color: #1A5600;
}
.myskills .col-one .container-fluid .AE {
	width: 55%;
	background-color: #1A5600;
}
.myskills .col-one .container-fluid .DW {
	width: 55%;
	background-color:#1A5600;
}
.myskills .col-one .container-fluid .SKETCH {
	width: 55%;
	background-color: #1A5600;
}
.myskills .col-two {
	margin: 0;
	padding: 0;
}
.myskills .col-two .col {
	background-color: #1A5600;
	padding-top: 10px;
	padding-bottom: 4px;
	border-radius: 10px;
}
.myskills .col-two .col .text-center {
	margin-top: 8px;
	color: #ECFFDD;
}
.myskills .col-two .col .text-center i {
	font-size: 45px;
	margin-bottom: 8px;
}
#myskills .child {
	transition: all 0.5s;
}
#myskills .dad:hover .child,
#myskills .dad:focus .child {
	transform: scale(1.1);
}

/*Collection*/
#collection {
	margin-bottom: 3%;
}
#collection h2 {
	margin-bottom: 2%;
}
#collection .container {
	overflow: hidden;
	padding-left: 50px;
	padding-right: 30px;
}
#collection .filterDiv {
  float: left;
  background-color: #FFFFFF;
  color: #ffffff;
  width: 300px;
  line-height: 300px;
  text-align: center;
  margin: 8px;
/*  display: none;*/
}
#collection .btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 1%;
}
#collection .btn:hover {
	background-color: #1A5600;
	color: white;
}
#collection .btn.active {
	outline: none;
	border: none;
}
#collection .container img {
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s;
}
#collection .container img:hover {
	opacity: 0.7;
}
#collection .container .modal {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9); 
}
#collection .container .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*feedback*/
#feedback {
	margin-bottom: 5%;
}
#feedback .container-fluid {
	padding-top: 1%;
/*	background-color: #EBEBEB;*/
}
#feedback .container-fluid .card{
	width: 500px;
	max-width: 100%;
}
#feedback .container-fluid .card img {
	transition: all 0.5s;
}
#feedback .container-fluid .card img:hover {
	opacity: 0.7;
}

/*Contact*/
#contact {
	padding-bottom: 3%;
}
#contact .tagline {
	padding-left: 20%;
	padding-right: 20%;
}
#contact .icon {
	padding-left: 20%;
	padding-right: 20%; 
}
#contact .icon a {
	color: #1A5600;
}
#contact form {
	padding-left: 15%;
	padding-right: 15%; 
}
#contact form #corner {
	color:  #1A5600;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	border-color: #1A5600; 
	border-radius: 50px;
	display: block;
}
#contact form #corner:hover {
	color: white;
	background-color: #1A5600;
	transition: all 0.08s;
}
#contact form #urname {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #000000;
	outline: none;
}
#contact form #uremail {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #000000;
	outline: none;
}
#contact form #urmessage {
	margin: 0;
	display: block;
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
	border: none;
	border-bottom: 1px solid #000000;
	outline: none;
}
#contact form> .btn  {
	border: 2px solid #1a5600 !important;
	outline: none;
}

/*footer*/
footer {
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #1A5600;
	line-height: 0;
}
footer div ul li a i {
	color: #DCE9C9;
	font-size: 20px !important;
}

@media (max-width:770px) {
	nav .container-fluid {
		width: 80%;
	}
	#aboutme {
		margin-top: 2%;
		margin-bottom: 2px;
		padding:  2% 4%;
	}
	.myskills .row1 {
		margin-bottom: 8%;
	}
	.myskills .row2 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.myskills .row2 .dad {
		margin-bottom: 10px !important;
	}
	#collection {
		margin-top: 8% !important;
	}
	#collection .container-fluid .container {
		margin: 0!important;
		padding: 0!important;
		padding-left: 10%!important;
	}
	#feedback .conatiner-fluid {
		margin: 0!important;
		padding: 0!important;
		padding-left: 10%!important;
		margin-left: 10px!important;
	}
	#contact .tagline {
		padding-left: 2%!important;
		padding-right: 2%!important;
	}
	#contact .tagline h2 {
		font-size: 25px;
	}
	#contact .tagline p {
		font-size: 15px;
	}
	#contact form {
		padding-left: 2%!important;
		padding-right: 2%!important;
	}
	#contact form .email {
		margin-top: 15px!important;
	}
}
@media (max-width: 415px) {
	nav .container-fluid {
		width: 80%;
	}
	#aboutme {
		margin-top: 2%;
		margin-bottom: 2px;
		padding:  2% 4%;
	}
	#aboutme .col-12 h2 {
		font-size: 30px;
		text-align: center;
	}
	#aboutme .col-12 p {
		font-size: 15px;
	}
	#aboutme .col-12 {
		margin: 0;
		padding: 0;
	}
	.myskills .row1 {
		margin-bottom: 8%;
	}
	.myskills .row2 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.myskills .row2 .dad {
		margin-bottom: 10px !important;
	}
	#collection {
		margin-top: 8% !important;
	}
	#collection .container-fluid .container {
		margin: 0!important;
		padding: 0!important;
		padding-left: 10%!important;
	}
	#feedback .conatiner-fluid {
		margin: 0!important;
		padding: 0!important;
		padding-left: 10%!important;
		margin-left: 10px!important;
	}
	#contact .tagline {
		padding-left: 2%!important;
		padding-right: 2%!important;
	}
	#contact .tagline h2 {
		font-size: 25px;
	}
	#contact .tagline p {
		font-size: 15px;
	}
	#contact form {
		padding-left: 2%!important;
		padding-right: 2%!important;
	}
	#contact form .email {
		margin-top: 15px!important;
	}
}
